ISONE_USERNAME = "your-isone-webservices-username"
ISONE_PASSWORD = "your-isone-webservices-password"
PJM_API_KEY = "your-pjm-data-miner-2-subscription-key"
YE_USER = "your-yes-energy-username"
YE_PASS = "your-yes-energy-password"
